# Public/demo defaults. Do not commit real corporate paths or secrets.
APP_ENV=demo
APP_DATA_MODE=demo
ISO_HOST_MOUNT=./demo_iso
ISO_SOURCE_PATH=./demo_iso
POSTGRES_PASSWORD=central_iso_demo_change_me
N8N_ENCRYPTION_KEY=central_iso_demo_change_this_key
N8N_HOST=localhost
N8N_PROTOCOL=http
AI_MODE=disabled
EXTERNAL_DOCUMENT_PARSING=disabled
EXTERNAL_MULTIMODAL_PROVIDER=disabled
